{% extends "base.html" %}
{% block title %}{{ page_title }} - Leads{% endblock %}
{% block body_class %}page-plain{% endblock %}

{% block page_title %}{{ page_title }}{% endblock %}
{% block tabs %}{% with active = 'projects' %}{% include "_seg.html" %}{% endwith %}{% endblock %}

{% block actions %}
  <a class="btn primary appbar-primary" href="/projects#new">+ Project</a>
{% endblock %}

{% block content %}
<main id="view" class="view" tabindex="-1" data-clients="{{ 1 if nav_modules|selectattr('key', 'equalto', 'clients')|list else 0 }}"><p class="loading">Loading projects…</p></main>
<script src="{{ asset('js/projects.js') }}" defer></script>
{% endblock %}
